{{ define "title" }}
  {{ .Site.Title }} - {{ i18n  "pages" }}
{{ end }}

{{ define "headline" }}
{{ end }}

{{ define "main" }}
{{ partial "page.nav.cards.html" . }}

  {{ range $index, $element := sort .Data.Pages }}
    {{ if eq (mod $index 3) 0 }}
    <div class="w3-cell-row w3-margin-top w3-margin-bottom">
    {{ end }}
      <div class="w3-cell w3-cell-bottom w3-margin-bottom w3-mobile w3-theme-l3 ">
        <div class="w3-card w3-hover-shadow w3-opacity-min w3-hover-opacity-off w3-margin-right w3-theme-l1">
          <a href="{{ $element.Permalink }}">
            <header class="w3-container"> 
              {{ if $element.Params.icon }}
              <i class="{{ $element.Params.icon }} fa-1x"></i>
              {{ end }}  {{/* icon */}}
              <h3>{{ $element.Title }}</h3>
            </header>
            <div class="w3-container w3-theme-l2">
              {{ if $element.Params.teaserpic }}
              {{ partial "main.teaserpic.list.html" . }}
              {{ end }}
              {{ or $element.Description $element.Summary | markdownify }}
            </div>
            </a>
        </div> <!-- w3-card -->
      </div> <!-- w3-cell  -->
    {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Data.Pages) 1 )) }}
    </div>  <!-- w3-cell -->
    {{ end }}{{/* if mod */}}
  {{ end }} {{/* range */}}
{{ end }}

{{ define "footer" }}
{{ end }}

{{/* emacs                 */}}
{{/* Local variables:      */}}
{{/* tab-width:        2   */}}
{{/* indent-tabs-mode: nil */}}
{{/* End:                  */}}
