{{- define `main` }}
{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
{{ `<!-- pages/list.html (main) -->` | safeHTML }}
{{- end}}
  {{- if $.Site.Params.debug }}pages/list.html{{ end }}

  {{ partial `page.nav.cards.html` . }}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- back in pages/list.html  -->` | safeHTML }}
  {{- end}}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- range .Data.Pages.ByWeigh  -->` | safeHTML }}
  {{- end}}
  {{/*- range $index, $element := sort .Data.Pages `.weight` */}}
  {{- range $index, $element := .Data.Pages.ByWeight }}
    {{- if eq (mod $index 3) 0 }}
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- modulo 0 -->` | safeHTML }}
    {{- end}}
    <div class="w3-cell-row w3-margin-bottom">
    {{- end }}

    <div class='w3-cell w3-margin-top w3-cell-bottom w3-mobile {{ default `w3-theme-l4` ($.Site.Param `colorPagesListCell`)}} '>
        <div class='w3-card w3-margin-right w3-hover-shadow w3-opacity-min w3-hover-opacity-off {{ default `w3-theme-l2` ($.Site.Param `colorPagesListCard`)}} '>
          <a class="no-decoration" href='{{ $element.RelPermalink }}'>
            <header class="w3-container">
              <h3>
              {{- if $element.Params.icon }}
              <i class='{{ $element.Params.icon }} '></i>
              {{- end }}  {{/* icon */}}
              {{- $element.Title  | markdownify | emojify -}}
              </h3>
            </header>
            <div class='w3-container {{ default `w3-theme-l2` ($.Site.Param `colorPagesListContainer`)}}'>
              {{- if $element.Params.teaserpic }}
              {{ partial `main.teaserpic.list.html` . }}
              {{- end }}
              {{- or .Description .Summary | markdownify | truncate ( or $.Site.Params.teaserTruncateSummary 160)  | replaceRE `<.?p>` `` | safeHTML }}
              {{- /* or $element.Description $element.Summary | markdownify */}}
            </div>
            </a>
        </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
                 {{ `<!-- w3-card -->` | safeHTML }}
               {{- end}}
      </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
               {{ `<!-- w3-cell -->` | safeHTML }}
             {{- end}}
    {{- if or (eq (mod $index 3) 2) (eq $index (sub (len $.Data.Pages) 1 )) }}
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- last one -->` | safeHTML }}
    {{- end}}
    </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
             {{ `<!-- w3-cell-row -->` | safeHTML }}
           {{- end}}
    {{- end }}{{/* if mod */}}
  {{- end }} {{/* range */}}
{{- end }}
