{{ define "title" }}
  {{ .Site.Title }} - Blog
{{ end }}

{{ define "headline" }}
  <div class="w3-card-4 w3-center w3-round-xxlarge w3-margin-bottom w3-theme-d1">
    <h2>Blog</h2>
      {{ if .Site.Params.blog.subtitle }}
      {{ .Site.Params.blog.subtitle | markdownify }}
      {{ end }} {{/* if .subtitle */}}
  </div>   <!-- w3-card -->
{{ end }}

{{ define "main" }}


  {{/* partial "main.taxonomy.bar.html" . */}}

  {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}

  {{ partial "main.paginator.bar.html" . }}

  {{ range $index, $element := $paginator.Pages }}


  {{ if eq (mod $index 3) 0 }}
  <div id="w3-cell-row w3-margin-top w3-margin-bottom">
  {{ end }}

  <div class="w3-cell w3-mobile ">

      <div class="w3-card w3-margin-bottom w3-round w3-hover-shadow w3-opacity-min w3-hover-opacity-off w3-margin-right w3-theme-l3">
        {{ partial "main.teaser_in_card.html" . }}
      </div> <!-- w3-card -->
    </div> <!-- w3-cell -->

    {{ if eq (add $index 1 ) $paginator.NumberOfElements  }}
  </div> <!-- w3-cell-row -->
    {{ end }}
  {{ end }} {{/* range */}}


  {{ partial "main.paginator.bar.html" . }}

{{ end }}

{{ define "footer" }}
{{ end }}

{{/* emacs                 */}}
{{/* Local variables:      */}}
{{/* tab-width:        2   */}}
{{/* indent-tabs-mode: nil */}}
{{/* End:                  */}}
