{{ define `title` }}
  {{ .Site.Title }} - Blog
{{ end }}

{{ define `headline` }}
{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
{{- `<!-- blog/list.html (headline) -->` | safeHTML }}
{{- end}}
  <div class='w3-card-4 w3-center w3-round-xxlarge {{ default `w3-theme-d1` ($.Site.Param `colorBlogListCard`)}}'>
    <h2>{{if $.Site.Params.blog.icon }}<i class='{{ $.Site.Params.blog.icon }} '></i>{{ end }} {{.Site.Params.blog.title}}
      <span style="float:right;">
      {{- partial `main.headline.nav-right.html` . -}}
      </span>
    </h2>
      {{- if $.Site.Params.blog.subtitle }}
      {{ $.Site.Params.blog.subtitle | markdownify }}
      {{- end }} {{/* if .subtitle */}}
  </div>   <!-- w3-card -->
{{- end }}

{{- define `main` }}
{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
{{- `<!-- blog/list.html (main) -->` | safeHTML }}
{{- end}}
  {{- /* partial `main.taxonomy.full.bar.html` . */}}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- .Paginate .Data.Pages "Type" "blog" -->` | safeHTML }}
  {{- end}}
  {{- $paginator := .Paginate (where .Data.Pages `Type` `blog`) }}
  {{ partial `main.paginator.bar.html` . }}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- back in blog/list.html  -->` | safeHTML }}
  {{- end}}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- range $paginator.Pages -->` | safeHTML }}
  {{- end}}

  <div id='BlogListContainer' class=' {{ default `w3-theme-l4` ($.Site.Param `colorBlogListContainer`)}} '>

  {{- range $index, $element := $paginator.Pages }}
  {{- if eq (mod $index 3) 0 }}
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- modulo 0 -->` | safeHTML }}
    {{- end}}

  <div class='w3-cell-row w3-margin-top {{ default `w3-theme-l4` ($.Site.Param `colorBlogListCell`)}} '>
  {{- end -}}

    <div class="w3-cell w3-cell-bottom w3-mobile">
      <div class='w3-card w3-margin-right w3-round w3-hover-shadow w3-opacity-min w3-hover-opacity-off {{ default `w3-theme-l3` ($.Site.Param `colorBlogListCard`)}} '>
        {{ partial `main.teaser_in_card.html` . }}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
          {{ `<!-- back in blog/list.html  -->` | safeHTML }}
        {{- end}}
      </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
               {{ `<!-- w3-card -->` | safeHTML }}
             {{- end}}
    </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
             {{ `<!-- w3-cell -->` | safeHTML }}
           {{- end}}

    {{- if or (eq (mod $index 3) 2) (eq (add $index 1 ) $paginator.NumberOfElements)  }}
      {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- last one -->` | safeHTML }}
      {{- end}}
  </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
           {{ `<!-- w3-cell-row -->` | safeHTML }}
         {{- end}}
    {{- end }}
  {{- end }} {{/* range */}}

  </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
           {{ `<!-- BlogListContainer -->` | safeHTML }}
         {{- end}}

  {{ partial `main.paginator.bar.html` . }}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- back in blog/list.html  -->` | safeHTML }}
  {{- end}}

{{- end }}
