<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- _default/baseof.html  -->` | safeHTML }}
  {{- end}}
  {{  partial `head.html` . -}}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
  {{- end}}

  <body onload='onload()' >
    <div id="all" class="w3-theme">
      <header>
        {{ partial `header.marquee.html` . -}}
        {{ partial `header.nav.html`     . -}}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
        {{- end}}
      </header>
      <div id="canvas" class='w3-container {{ default `w3-theme-l4` ($.Site.Param `colorBaseofCanvas`)}} '>

        {{- block `headline` . }}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- block headline _default/baseof.html  -->` | safeHTML }}
        {{- end}}
          <h1 class='w3-panel {{ default `w3-theme-l2` ($.Site.Param `colorBaseofPanel`)}} '>
          {{- if $.Params.icon }}<i class='{{ $.Params.icon }} fa-1x'></i>{{ end }}
            {{ .Title | markdownify | emojify }}
            <span style="float:right;">
            {{- partial `main.headline.nav-right.html` . -}}
            </span>
          </h1>

        {{- end}}

        {{- block `main` . }}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- block main _default/baseof.html  -->` | safeHTML }}
        {{- end}}
        {{  partial `main.blog.date.html`         . -}}
        {{- partial `main.taxonomy.current.html`  . -}}
        {{- partial `main.teaserpic.single.html`  . -}}
        {{- /* partial `main.title.html`          . */ -}}
        {{- partial `main.toc.single.html`        . -}}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
        {{- end}}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- now Content  -->` | safeHTML }}
        {{- end}}

        {{- /* .Content */}}
        {{- $.Scratch.Set `myContent` (.Content   | replaceRE `(?s:</div>\s?</p>)` `</div>` | replaceRE `(?s:</pre>\s?</p>)` `</pre>` | replaceRE `(?s:</figure>\s*</p>)` `</figure>` ) }}
        {{- if isset $.Site.Params (lower `anchor` ) }}
          {{- if $.Site.Params.anchor.enable }}
            {{- $.Scratch.Set `myContent` ( ($.Scratch.Get `myContent`) | replaceRE `(<h[1-9] id="([^"]+)".+)(</h[1-9]+>)` (printf `${1}&nbsp;<a class="anchor w3-small " href="#${2}"><i class="%s"></i></a> ${3}` (default "fas fa-link" $.Site.Params.anchor.icon) ) ) }}
          {{- end }}
        {{- end }}
        {{- ($.Scratch.Get `myContent`) | safeHTML }}

        {{- partial `main.related.html`  . -}}
        {{- end }}

        {{- if eq .Type `blog` }}
          {{- block `blog-disqus` . }}
            {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
              {{ `<!-- block blog-disqus _default/baseof.html  -->` | safeHTML }}
            {{- end}}
          {{ end }}
        {{- end -}}

        {{- if eq .Type `contact` }}
          {{- block `contactform` . }}
            {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
              {{ `<!-- block contactform _default/baseof.html  -->` | safeHTML }}
            {{- end}}
          {{ end }}
        {{- end -}}

        {{- if eq .Type `search` }}
          {{- block `search` . }}
            {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
              {{ `<!-- block search _default/baseof.html  -->` | safeHTML }}
            {{- end}}
          {{ end }}
        {{- end -}}

        {{- if and (ne .Type `contact`) (ne .Type `search`) }}
          {{- partial `main.taxonomy.full.bar.html`  . -}}
        {{- end -}}

        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
        {{- end}}
      </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- canvas -->` | safeHTML }}
      {{- end}}

      <footer>
        {{  block `footer` . }}
        {{- partial `footer.html`        . -}}
        {{- partial `footer.bottom.html` . -}}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
        {{- end}}
      {{ end }}
      </footer>

    </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- all -->` | safeHTML }}
    {{- end}}
    {{ partial `scripts.bottom.html`  . }}

    <script>
      function onload(){
      {{- if isset $.Site.Params (lower `options` ) }}
      {{- if $.Site.Params.options.jsHistoryNav }}
         document.getElementById("btnback").style.visibility="visible";
         {{- if $.Site.Params.options.jsHistoryNavForward }}
         document.getElementById("btnfrwd").style.visibility="visible";
         {{- end}}
      {{- end}}
      {{- end}}
      }
    </script>

  </body>
  {{ partial `debug.html` . -}}
</html>
