<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ `<!-- _default/baseof.html  -->` | safeHTML }}
  {{  partial "head.html" . -}}
  {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}

  <body>
    <div id="all" class="w3-theme">
      <header>
        {{ partial "header.marquee.html" . -}}
        {{ partial "header.nav.html"     . -}}
        {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
      </header>
      <div id="canvas" class="w3-container {{ default `w3-theme-l4` (.Param `colorBaseofCanvas`)}} ">
        {{ block "headline" . -}}
          <h1 class="w3-panel {{ default `w3-theme-l2` (.Param `colorBaseofPanel`)}} ">{{ if $.Params.icon }}<i class="{{ $.Params.icon }} fa-1x"></i>{{ end }} {{ .Title | markdownify | emojify }} </h1>
        {{- end -}}

        {{- block "main" . }}
          {{ `<!-- block main _default/baseof.html  -->` | safeHTML }}
          {{- partial "main.blog.date.html"         . -}}
          {{- partial "main.taxonomy.current.html"  . -}}
          {{- partial "main.teaserpic.single.html"  . -}}
          {{- /* partial "main.title.html"          . */ -}}
          {{- partial "main.toc.single.html"        . -}}
          {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
          {{- .Content -}}
        {{- end }}

        {{- if eq .Type "contact" }} 
          {{- block "contactform" . }}
            {{ `<!-- block contactform _default/baseof.html  -->` | safeHTML }}
          {{ end }}
        {{- end -}}

        {{- if eq .Type "search" }} 
          {{- block "search" . }}
            {{ `<!-- block search _default/baseof.html  -->` | safeHTML }}
          {{ end }}
        {{- end -}}

        {{- if and (ne .Type "contact") (ne .Type "search") }} 
          {{- partial "main.taxonomy.full.bar.html"  . -}}
        {{- end -}}

      {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
      </div> {{ `<!-- canvas -->` | safeHTML }}

      <footer>
      {{  block "footer" . }}
      {{- partial "footer.html"        . -}}
      {{- partial "footer.bottom.html" . -}}
      {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
      {{ end }}
      </footer>

    </div> {{ `<!-- all -->` | safeHTML }}
    {{ partial "scripts.html"  . }}
  </body>
  {{ partial "debug.html" . -}}
</html>

{{- /* emacs                     */}}
{{- /* Local variables:          */}}
{{- /* tab-width:        2       */}}
{{- /* indent-tabs-mode: nil     */}}
{{- /* End:                      */}}
