{{ define `headline` }}
{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{- `<!-- _default/single.html (headline)  -->` | safeHTML }}
{{- end}}

  <h1 class='w3-panel {{ default `w3-theme-l2` ($.Site.Param `colorTaxonomyPanel`)}} '>
  {{- if eq .Data.Singular `category` }}<i class="w3-margin-right fas fa-folder-open" aria-hidden="true"></i>{{ default `Category` (i18n `categoryTitle`) }}: {{ end }}
  {{- if eq .Data.Singular `tag`      }}<i class="w3-margin-right fas fa-tag"         aria-hidden="true"></i>{{ default `Tag` (i18n `tagTitle`) }}: {{ end }}
    {{- .Title  | markdownify | emojify }}
    <span style="float:right;">
    {{- partial `main.headline.nav-right.html` . -}}
    </span>
  </h1>

{{ end }}
