{{- define "headline" }}
  {{ `<!-- _default/terms.html -->` | safeHTML }}
  <h1 class="w3-panel w3-theme-l2">
  {{ if eq .Data.Singular "category" }}<i class="w3-margin-right fa fa-folder-open-o" aria-hidden="true"></i>{{ i18n "categoryTitle" }}{{ end }} 
  {{ if eq .Data.Singular "tag"      }}<i class="w3-margin-right fa fa-tag"           aria-hidden="true"></i>{{ i18n "tagTitle" }}     {{ end }} 
  </h1>
{{- end }}

{{- define "main" }}
  {{ partial "terms.list.html" . }}
{{- end }}

{{/* emacs                 */}}
{{/* Local variables:      */}}
{{/* tab-width:        2   */}}
{{/* indent-tabs-mode: nil */}}
{{/* End:                  */}}
