{{- if isset .Site.Params "email" }}
{{- if isset .Site.Params "formspree" }}
<form class="w3-panel w3-card-4 w3-theme-d2" method="post" action="https://{{.Site.Params.formspree}}/{{ .Site.Params.email}}">
  <h3>{{ i18n "contactForm" }}</h3>
  <p><label>{{ i18n "contactName" }}    </label> <input    class="w3-input w3-border" name="name"   type="text" required placeholder="Name" ></p>
  <p><label>{{ i18n "contactMail" }}    </label> <input    class="w3-input w3-border" name="email"  type="text" required placeholder="Mail" ></p>
  <p><label>{{ i18n "contactMessage" }} </label> <textarea class="w3-input w3-border" name="message"            required placeholder="Subject" ></textarea></p>
  <p><button class="w3-button"><i class="fa fa-envelope-o"></i> {{ i18n "contactSend" }}</button></p>
</form>
{{- end }} <!-- if isset -->
{{- end }} <!-- if isset -->

{{- /* emacs                 */}}
{{- /* Local variables:      */}}
{{- /* tab-width:        2   */}}
{{- /* indent-tabs-mode: nil */}}
{{- /* End:                  */}}
