{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/contact.map.html  -->` | safeHTML }}
{{- end}}
<!-- https://developers.google.com/maps/documentation/javascript/adding-a-google-map?hl=de -->
{{- if isset $.Site.Params (lower `latitude`  ) }}
{{- if isset $.Site.Params (lower `longitude` ) }}
{{- if isset $.Site.Params (lower `envGoogleMapsApiKey`) }} {{ $.Scratch.Set `GoogleMapsApiKey` (getenv $.Site.Params.envGoogleMapsApiKey) }} {{ end }}
{{- if isset $.Site.Params (lower `googleMapsApiKey`   ) }} {{ $.Scratch.Set `GoogleMapsApiKey`         $.Site.Params.googleMapsApiKey     }} {{ end }}

{{- if  ne ($.Scratch.Get `GoogleMapsApiKey`) `` }}
{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- GoogleMapsApiKey found  -->` | safeHTML }}
{{- end}}
<script>
  function initMap() {
      var myloc = { lat: {{.Site.Params.latitude}}, lng: {{.Site.Params.longitude}} };
      var map = new google.maps.Map(document.getElementById('map'), {zoom: {{.Site.Params.googleMapsZoom}}, center: myloc});
      var marker = new google.maps.Marker({position: myloc, map: map});
  }
</script>
<script
  async defer
  src='https://maps.googleapis.com/maps/api/js?key={{$.Scratch.Get `GoogleMapsApiKey`}}&callback=initMap'
  >
</script>

<div id="map" class='w3-panel w3-card-4 {{ default `w3-theme-l2` ($.Site.Param `colorContactMapPanel`)}} '>
<noscript>
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- i18n "JsNeeded"  -->` | safeHTML }}
{{- end}}
  <p>{{ default `no JavaScript` (i18n `JsNeeded`) }} (google maps)</p>
  <a href='https://maps.google.com/maps?q={{.Site.Params.latitude}},{{.Site.Params.longitude}}&z=10' target="_blank">https://maps.google.com/maps?q={{.Site.Params.latitude}},{{.Site.Params.longitude}}&z={{.Site.Params.googleMapsZoom}}</a>
</noscript>
</div>

{{- else }} {{/* if ne ($.Scratch.Get `GoogleMapsApiKey`) ``   */}}
{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- GoogleMapsApiKey empty => fallback  -->` | safeHTML }}
{{- end}}
<div class='w3-card-4 w3-margin w3-round-xxlarge w3-center {{ default `w3-theme-l2` ($.Site.Param `colorContactMapCard`)}} '>
  Google Maps: <a href='https://maps.google.com/maps?q={{.Site.Params.latitude}},{{.Site.Params.longitude}}&z={{.Site.Params.googleMapsZoom}}' target="_blank"><i class="fas fa-map-marker-alt fa-5x w3-text-theme"></i></a>
</div>

{{- end }} {{/* if isset googleMapsApiKey   */}}

{{- end }} {{/* if isset longitude */}}
{{- end }} {{/* if isset latitude */}}
