{{ `<!-- partials/debug.html  -->` | safeHTML }}
{{- if isset .Site.Params (lower "debug2" ) }}
{{- if .Site.Params.debug }}
<hr>
{{- printf "%#v" .Permalink }}
<hr>
{{- printf "%#v" $.Site }}
<hr>
{{- printf "%#v" . }}
<hr>

<table>
  {{- range $key, $value := .Params }}
    {{ printf "<tr><td>%#v</td><td>%#v</td></tr>" $key $value | safeHTML }}
  {{- end }}
</table>

<!-- .Data.Pages on the homepage is equivalent to .Site.Pages. -->
{{ range .Data.Pages }}
{{/* The context, ".", is now each one of the pages as it goes through the loop */}}
{{ printf "%#v" . }}
<hr>
{{- end }}

{{- end }}
{{- end }}

{{- /* emacs                     */}}
{{- /* Local variables:          */}}
{{- /* tab-width:        2       */}}
{{- /* indent-tabs-mode: nil     */}}
{{- /* End:                      */}}
