{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/footer.html  -->` | safeHTML }}
{{- end}}
<div id="footer" class='w3-container {{ default `w3-theme-d5` ($.Site.Param `colorFooterContainer`)}} '>

  <div class="w3-margin-bottom w3-row w3-mobile">

    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- Site.Params.aboutUs  -->` | safeHTML }}
    {{- end}}
    {{- if $.Site.Params.aboutUs }}
    <div class="w3-col w3-third">
      <h4>{{ default `About` (i18n `aboutUs`) }}</h4>
      <div class="notranslate">{{- $.Site.Params.aboutUs | markdownify }}</div>
    </div> <!-- w3-col -->
    {{- end }} {{/* if aboutUs */}}

    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- Site.Params.recentPosts  -->` | safeHTML }}
    {{- end}}
    {{- if isset $.Site.Params (lower `recentPosts` ) }}
    {{- if $.Site.Params.recentPosts.enableFooter }}
    {{- if $.Site.Params.recentPosts.footerNumOfPosts }}
    <div class="w3-col w3-third">
      <h4>{{ default `Posts` (i18n `recentPosts`) }}</h4>
      {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- range first Site.Params.footerNumOfPosts .Site.RegularPages "Section" "blog" -->` | safeHTML }}
      {{- end}}
      {{- range first $.Site.Params.recentPosts.footerNumOfPosts (where .Site.RegularPages `Section` `blog`) }}

        <div class="w3-container ">
          <a class="no-decoration" href='{{ .RelPermalink }}'>

          {{- $myImgClass  := `w3-image w3-left w3-round w3-hover-opacity` }}
          {{- $myImgStyle  := `max-width:60px; max-height:20px; width: auto; height: auto; margin: 0px 8px 16px 0px;` }}
          {{- $myImg       := .Param `resImgTeaser`                       }} {{/* case insensitive */}}
          {{- $myImgCmd    := .Param `resImgTeaserCmd` | default `Resize` }}
          {{- $myImgOpt    := .Param `resImgTeaserOpt` | default `60x`    }}
          {{ partial `resource.image.html` (dict `page` $.Page `class` $myImgClass `style` $myImgStyle `img` $myImg `cmd` $myImgCmd `opt` $myImgOpt ) }}

          </a>
          <a class="no-decoration" href='{{ .RelPermalink }}'>{{if .Params.icon}}<i class='{{ .Params.icon }}'></i>&nbsp;{{end}}{{ .Title  | markdownify | emojify }}</a>
        </div>
      {{- end }} {{/* range */}}

    </div> <!-- w3-col -->
    {{- end }} {{/* if isset */}}
    {{- end }} {{/* if isset */}}
    {{- end }} {{/* if recentPosts.enableFooter */}}

    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- Site.Params.address  -->` | safeHTML }}
    {{- end}}

    {{- if isset $.Site.Params (lower `address` ) }}
    <div id="address" class="w3-col w3-third">
      <h4>{{ default `Contact` (i18n `contactTitle`) }}</h4>
      <div class="notranslate">{{- $.Site.Params.address | markdownify -}}</div><br/>
      {{ if $.Site.Param `footerContactButton` }}
        {{ with ($.Site.GetPage `page` ($.Site.Param `footerContactButton`)) }}
      <a href='{{ .Permalink | relURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class='w3-button {{ default `w3-theme-l4` ($.Site.Param `colorFooterButton`)}} '>{{ default `contact` (i18n `contactGoTo`) }}</a>
        {{end}}
      {{end}}
    </div>
    {{- end }}

  </div>  <!-- w3-row -->
</div>  <!-- w3-container -->
