{{ `<!-- partials/footer.html  -->` | safeHTML }}

<div id="footer" class="w3-container w3-theme-d5">
  <div class="w3-margin-bottom w3-row w3-mobile">

    {{ `<!-- Site.Params.aboutUs  -->` | safeHTML }}
    {{- if .Site.Params.aboutUs }}
    <div class="w3-col w3-third">
      <h4>{{ default "About" (i18n "aboutUs") }}</h4>
      {{- .Site.Params.aboutUs | markdownify }}
    </div> <!-- w3-col -->
    {{- end }} {{/* if aboutUs */}}

    {{ `<!-- Site.Params.recentPosts  -->` | safeHTML }}
    {{- if isset .Site.Params (lower "recentPosts" ) }}
    {{- if .Site.Params.recentPosts.enableFooter }}
    {{- if .Site.Params.recentPosts.footerNumOfPosts }}
    <div class="w3-col w3-third">
      <h4>{{ default "Posts" (i18n "recentPosts") }}</h4>
      {{ `<!-- range first Site.Params.footerNumOfPosts .Site.RegularPages "Section" "blog" -->` | safeHTML }}
      {{- range first .Site.Params.recentPosts.footerNumOfPosts (where .Site.RegularPages "Section" "blog") }}

        <div class="w3-container ">
          <a class="no-decoration" href="{{ .RelPermalink }}">
            <img class="w3-image w3-left w3-round w3-hover-opacity " style="max-width:60px; max-height:20px; width: auto; height: auto; margin: 0px 8px 16px 0px;" 
              alt="{{.Params.teaserpic}}"
              src="{{- if .Params.teaserpic }}
                   {{- if eq (substr .Params.teaserpic 0 1) "." }}{{.Params.teaserpic}}{{else}}{{.Params.teaserpic | relURL}}{{end}}
                   {{- end -}}
                  "
            />
          </a>
          <a class="no-decoration" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
      {{- end }} {{/* range */}}

    </div> <!-- w3-col -->
    {{- end }} {{/* if isset */}}
    {{- end }} {{/* if isset */}}
    {{- end }} {{/* if recentPosts.enableFooter */}}


    {{ `<!-- Site.Params.address  -->` | safeHTML }}
    {{- if isset .Site.Params (lower "address" ) }}
    <div id="address" class="w3-col w3-third">
      <h4>{{ default "Contact" (i18n "contactTitle") }}</h4>
      {{- .Site.Params.address | markdownify -}}
      <a href="{{ "/contact" | relURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}" class="w3-button w3-theme-l4">{{ default "contact" (i18n "contactGoTo") }}</a>
    </div> <!-- w3-col -->
    {{- end }}

  </div>  <!-- w3-row -->
</div>  <!-- w3-container -->

{{- /* emacs                     */}}
{{- /* Local variables:          */}}
{{- /* tab-width:        2       */}}
{{- /* indent-tabs-mode: nil     */}}
{{- /* End:                      */}}
