{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/front.features.html  -->` | safeHTML }}
{{- end}}
{{- if isset $.Site.Params (lower `features` ) }}
{{- if $.Site.Params.features.enable   }}
{{- if gt (len .Site.Data.features) 0 }}
<section id="features" class="w3-theme">
  <div class='w3-container {{ default `w3-theme-l4` ($.Site.Param `colorFrontFeaturesContainer`)}} '>
    <p>
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- range Site.Data.features -->` | safeHTML }}
    {{- end}}
    {{- range $index, $element := sort .Site.Data.features `weight` }}
      {{- if or (not $.Site.Params.features.limitTo) (lt $index $.Site.Params.features.limitTo) }}
        {{- if eq (mod $index 3) 0 }}
          {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
            {{ `<!-- modulo 0 -->` | safeHTML }}
          {{- end}}
      <div class="w3-row-padding ">
        {{- end }}
        <div class="w3-col m4 ">
            <!-- https://daneden.github.io/animate.css/ -->
          <div class='w3-card-4 w3-round-xxlarge w3-center {{ default `w3-theme-l3` ($.Site.Param `colorFrontFeaturesCard`)}}  {{ if and $element.animated $.Site.Params.features.animate }} {{ printf `%s %s %s%d %s` `animated` `features-animated` `features-animated` $index $element.animated }} {{ end }}'>

            {{- if $element.url }}
            <a class="no-decoration" href='{{ $element.url | relURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'>
              {{- end }} {{/* if url */}}
              <span class='                    fa-stack fa-5x w3-text-theme {{ if $element.url }} {{ printf `%s` `w3-hover-opacity` }} {{ end }}'>
                <i class="far fa-circle        fa-stack-2x    "></i>
                <i class='{{ $element.icon }}  fa-stack-1x    '></i>
              </span>

            <div class='w3-container {{if $element.url}}{{printf `%s` `w3-hover-opacity`}}{{end}}'>
              <h3>{{- $element.name  | markdownify | safeHTML }}</h3>
              <p>{{- $element.description | markdownify }}</p>
            </div> <!-- w3-container -->

            {{- if $element.url }}
            </a>
            {{- end }} {{/* if url */}}

          </div> <!-- w3-card -->
          <p>
        </div> <!-- w3-col -->
        {{- if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.features) 1 )) }}
          {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
            {{ `<!-- modulo 2 or last -->` | safeHTML }}
          {{- end}}
      </div>   <!-- w3-row -->

        {{- end }} {{/* mod   */}}
      {{- end }}   {{/* limitTo   */}}
    {{- end }}     {{/* range */}}
    <p>
  </div>   <!-- w3-container -->
</section>
{{- end }} {{/* if gt       */}}
{{- end }} {{/* if *.enable */}}
{{- end }} {{/* if isset    */}}
