{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/front.photocards.html  -->` | safeHTML }}
{{- end}}
{{- if isset $.Site.Params (lower `photocards` ) }}
{{- if $.Site.Params.photocards.enable   }}
{{- if gt (len .Site.Data.photocards) 0 }}
<section id="photocards" class="w3-theme">
  <div class='w3-container  {{ default `w3-theme-l3` ($.Site.Param `colorFrontPhotocardsContainer`)}} '>
    <p>
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- range .Site.Data.photocards -->` | safeHTML }}
    {{- end}}
    {{- range $index, $element := sort .Site.Data.photocards `weight` }}
    {{- if or (not $.Site.Params.photocards.limitTo) (lt $index $.Site.Params.photocards.limitTo) }}

      {{- if eq (mod $index 3) 0 }}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
          {{ `<!-- modulo 0  -->` | safeHTML }}
        {{- end}}
      <div class="w3-row-padding ">
      {{- end }}

        <div class="w3-col m4 " >
          <div class='w3-card-4 {{ default `w3-theme-l1` ($.Site.Param `colorFrontPhotocardsCard`)}} {{ if and $element.animated $.Site.Params.photocards.animate }} {{ printf `%s %s %s%d %s` `animated` `photocards-animated` `photocards-animated` $index $element.animated }} {{ end }} ' >

          {{- if $element.url  }}
            {{- $.Scratch.Set `myImgClass` `w3-hover-opacity` }}
            {{- $.Scratch.Set `myImgStyle` `width:100%`     }}
          <a class="no-decoration" href='{{ $element.url | relURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'>
          {{- end }}

          {{- if not $element.url  }}
            {{- $.Scratch.Set `myImgClass` `w3-round-large` }}
            {{- $.Scratch.Set `myImgStyle` `width:100%`     }}
          {{- end }}

          {{- $myImgClass  := $.Scratch.Get `myImgClass` }}
          {{- $myImgStyle  := $.Scratch.Get `myImgStyle` }}
          {{- $myImg       := index $element `resImg`                       }} {{/* case sensitive ! */}}
          {{- $myImgCmd    := index $element `resImgCmd` | default (index $.Site.Params.photocards (lower `resImgCmd`   ) )  | default `Resize` }}
          {{- $myImgOpt    := index $element `resImgOpt` | default (index $.Site.Params.photocards (lower `resImgCmdOpt`) )  | default `300x`   }}
            
          {{ partial `resource.image.html` (dict `page` $.Page `class` $myImgClass `style` $myImgStyle `img` $myImg `cmd` $myImgCmd `opt` $myImgOpt ) }}

          {{- if $element.url  }}
          </a>
          {{- end -}} {{/* if and image url */}}

            <div class='w3-container {{if $element.url}}{{printf `%s` `w3-hover-opacity`}}{{end}} {{ default `w3-theme-l1` ($.Site.Param `colorFrontPhotocardsCardContainer`)}} '>
              <h4>{{- $element.title }}</h4>
              {{ $element.description | markdownify }}
            </div>

          </div> <!-- w3-card -->
          <p>
        </div>   <!-- w3-col -->

        {{- if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.photocards) 1 )) }}
          {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
            {{ `<!-- modulo 0 or last  -->` | safeHTML }}
          {{- end}}
      </div>     <!-- w3-cell-row -->
        {{- end }} {{/* if mod */}}

      {{- end }}   {{/* if limitTo */}}
    {{- end }}     {{/* range */}}

  <p>
  </div>   <!-- w3-container -->
</section> <!-- photocards -->
{{- end }} {{/* if gt       */}}
{{- end }} {{/* if *.enable */}}
{{- end }} {{/* if isset    */}}
