{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/front.jumbotrons.carousel.html -->` | safeHTML }}
{{- end}}
{{- if isset $.Site.Params (lower `jumbotrons` ) }}
{{- if $.Site.Params.jumbotrons.enable   }}
{{- if gt (len .Site.Data.jumbotron) 0  }}
<section id="section-jumbotron" class="w3-theme">
  <div id="container-jumbotron" class='{{ default `w3-theme-l4` ($.Site.Param `colorFrontJumbotronsSection`)}} '>

    <div class="jumbotron-owl owl-carousel owl-theme ">
      {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- range .Site.Data.jumbotron -->` | safeHTML }}
      {{- end}}
      {{/*- range $index, $element := sort .Site.Data.jumbotron `weight` */}}
      {{- range $index, $element := .Site.Data.jumbotron }} {{/* use filename for sort order */}}
        {{- template `front-jumbotron-entry`  (dict `page` $.Page `element` $element) }}
      {{- end }} {{/* range */}}
    </div>

    <noscript>
      <div class="w3-container">
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
          {{ `<!-- range .Site.Data.jumbotron -->` | safeHTML }}
        {{- end}}
        {{- range $index, $element := first 1 (sort .Site.Data.jumbotron) }}
          {{- template `front-jumbotron-entry`  (dict `page` $.Page `element` $element) }}
        {{- end }} {{/* range */}}
      </div> <!-- w3-container -->
    </noscript>

  </div>   <!-- container-jumbotron -->
</section> <!-- section-jumbotron -->
{{- end }} {{/* if gt       */}}
{{- end }} {{/* if *.enable */}}
{{- end }} {{/* if isset    */}}

{{- define `front-jumbotron-entry` }}
  {{- $ourPage      :=  index . `page`    }}
  {{- $ourElement   :=  index . `element` }}

  {{- if and $ourElement.resImg (not $ourElement.title) }}
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- front-jumbotron-entry and .resImg (not .title) -->` | safeHTML }}
    {{- end}}
    <div class='w3-container w3-margin-top w3-margin-left w3-margin-right w3-margin-bottom w3-round-xxlarge {{ default `w3-theme-l2` ($.Site.Param.colorFrontJumbotronsContainer)}} '>
      <div class="w3-container w3-margin">

        {{- $myImgClass  := `w3-image w3-center w3-round` }}
        {{- $myImgStyle  := `max-width:140px; max-height:140px; width: auto; height: auto; margin: auto; ` }}
        {{- $myImg       := $ourElement.resImg                       }} {{/* case sensitive ! */}}
        {{- $myImgCmd    := $ourElement.resImgCmd | default `Resize` }}
        {{- $myImgOpt    := $ourElement.resImgOpt | default `140x`   }}
        {{ partial `resource.image.html` (dict `page` $ourPage `class` $myImgClass `style` $myImgStyle `img` $myImg `cmd` $myImgCmd `opt` $myImgOpt ) }}

      </div>
    </div>
  {{- end }} {{/* if .resImg */}}

  {{- if and $ourElement.icon (and (not $ourElement.title) (not $ourElement.resImg) ) }}
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- front-jumbotron-entry and .resImg (not .title) -->` | safeHTML }}
    {{- end}}
    <div class='w3-container w3-margin-top w3-margin-left w3-margin-right w3-margin-bottom w3-round-xxlarge {{ default `w3-theme-l2` ($.Site.Param.colorFrontJumbotronsContainer)}} '>
      <div class="w3-container w3-margin w3-center ">
        <i class='{{ $ourElement.icon }} fa-4x'></i>
      </div>
    </div>
  {{- end }} {{/* if .resImg */}}

  {{- if and $ourElement.title (not ( or $ourElement.resImg $ourElement.icon)) }}
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- front-jumbotron-entry and .title (not ( or .resImg .icon)) -->` | safeHTML }}
    {{- end}}
  <div class='w3-container w3-margin-top w3-margin-left w3-margin-right w3-margin-bottom w3-round-xxlarge {{ default `w3-theme-l2` ($.Site.Param.colorFrontJumbotronsContainer)}} '>
    <h1>{{- $ourElement.title | markdownify -}}</h1>
    {{ if $ourElement.description }}<div>{{ $ourElement.description | markdownify }}</div>{{ end }}
  </div>
  {{- end }} {{/* if .title */}}

  {{- if and $ourElement.title (or $ourElement.resImg $ourElement.icon) }}
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- front-jumbotron-entry and .title (or .resImg .icon) -->` | safeHTML }}
    {{- end}}
  <div class='w3-container w3-margin-top w3-margin-left w3-margin-right w3-round-xxlarge {{ default `w3-theme-l2` ($.Site.Param.colorFrontJumbotronsContainer)}} '>
    <div class="w3-row-padding">
      <div class="w3-col m3">
        <h1>{{- $ourElement.title -}}</h1>
      </div>
      <div class="w3-col m3 w3-hide-small">
        {{- if $ourElement.icon }}
        <i class='w3-margin {{ $ourElement.icon }} fa-5x'></i>
        {{- end }}
        {{- if $ourElement.resImg }}

        {{- $myImgClass  := `w3-image w3-round` }}
        {{- $myImgStyle  := `max-width:180px; max-height:180px; width: auto; height: auto; margin: 8px 0px 8px 0px;` }}
        {{- $myImg       := $ourElement.resImg                       }} {{/* case sensitive ! */}}
        {{- $myImgCmd    := $ourElement.resImgCmd | default `Resize` }}
        {{- $myImgOpt    := $ourElement.resImgOpt | default `180x`   }}
        {{ partial `resource.image.html` (dict `page` $ourPage `class` $myImgClass `style` $myImgStyle `img` $myImg `cmd` $myImgCmd `opt` $myImgOpt ) }}

        {{- end }}
      </div>

      <div class="w3-col m3 w3-hide-large w3-hide-medium">
        {{- if $ourElement.icon }}
        <i class='w3-margin  {{ $ourElement.icon }} fa-3x'></i>
        {{- end }}
        {{- if $ourElement.resImg }}

        {{- $myImgClass  := `w3-image w3-round` }}
        {{- $myImgStyle  := `max-width:180px; max-height:100px; width: auto; height: auto; margin: 8px 0px 8px 0px;` }}
        {{- $myImg       := $ourElement.resImg                       }} {{/* case sensitive ! */}}
        {{- $myImgCmd    := $ourElement.resImgCmd | default `Resize` }}
        {{- $myImgOpt    := $ourElement.resImgOpt | default `100x`   }}
        {{ partial `resource.image.html` (dict `page` $ourPage `class` $myImgClass `style` $myImgStyle `img` $myImg `cmd` $myImgCmd `opt` $myImgOpt ) }}

        {{- end }}
      </div>

      {{- if $ourElement.description }}
      <div class="w3-col m3">
        {{- $ourElement.description | markdownify }}
      </div>
      {{- end }}
    </div>
  </div>
  {{- end }} {{/* if .title */}}

{{- end }}
