{{ if isset .Site.Params "jumbotrons"  }}
{{ if .Site.Params.jumbotrons.enable   }}
{{ if gt (len .Site.Data.jumbotron) 0  }}
<section id="section-jumbotron" class="w3-theme">
  <div id="container-jumbotron" class="w3-theme-l4">

    <div class="jumbotron-owl owl-carousel owl-theme ">
      {{ range $index, $element := sort .Site.Data.jumbotron "weight" }}
        {{ template "front-jumbotron-entry" $element }}
      {{ end }} {{/* range */}} 
    </div>

    <noscript>
      <div class="w3-container">
        {{ range $index, $element := first 1 (sort .Site.Data.jumbotron "weight") }}
          {{ template "front-jumbotron-entry" $element }}
        </div>
        {{ end }} {{/* range */}} 
      </div> <!-- "w3-container -->
    </noscript>
    
  </div>   <!-- container-jumbotron -->
</section> <!-- section-jumbotron -->
{{ end }} {{/* if gt       */}} 
{{ end }} {{/* if *.enable */}} 
{{ end }} {{/* if isset    */}} 

{{ define "front-jumbotron-entry" }}
  {{ if .image }}
    <div class="w3-container w3-margin-top w3-margin-left w3-margin-right w3-round-xxlarge w3-theme-l1">
      <img class="w3-image" alt="" src="{{ .image | absURL }}"  style="max-width:120px;display:block;margin:0 auto;">
    </div> 
    {{ end }} {{/* if .image */}}

  {{ if .title }}
  <div class="jumbotron12 w3-container w3-margin-top w3-margin-left w3-margin-right w3-round-xxlarge w3-theme-l1">
    <h1>{{ .title }}</h1>
    <div>{{ .description | markdownify }}</div>
  </div>
  {{ end }} {{/* if .title */}}
{{ end }}

{{/* emacs                 */}}
{{/* Local variables:      */}}
{{/* tab-width:        2   */}}
{{/* indent-tabs-mode: nil */}}
{{/* End:                  */}}
