{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/front.testimonials.carousel.html -->` | safeHTML }}
{{- end}}
{{- if isset $.Site.Params (lower `testimonials` ) }}
{{- if $.Site.Params.testimonials.enable   }}
{{- if gt (len .Site.Data.testimonials) 0 }}
<section id="testimonials" class="w3-theme">
  <div class='w3-container {{ default `w3-theme-l4` ($.Site.Param `colorFrontTestimonialsContainer`)}} '>

    <div class='w3-card-4 w3-center w3-round-xxlarge w3-margin-bottom {{ default `w3-theme-l2` ($.Site.Param `colorFrontTestimonialsTitleCard`)}} '>
      <h2 id="testimonials-title">{{ $.Site.Params.testimonials.title }}</h2>
      <div class="w3-small">
        {{- $.Site.Params.testimonials.subtitle | markdownify }}
      </div>
    </div>   <!-- w3-card -->

    <div class="testimonials-owl owl-carousel owl-theme w3-margin-bottom">
      {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- range .Site.Data.testimonials -->` | safeHTML }}
      {{- end}}
      {{/* {{- range $index, $element := sort .Site.Data.testimonials `weight` }} */}}
      {{- range $index, $element := sort .Site.Data.testimonials }}
      <div class='w3-card {{ default `w3-theme-l5` ($.Site.Param `colorFrontTestimonialsCarouselCard`)}} '>
        {{ template `front-testimonials-entry` (dict `page` $.Page `element` $element) }}
      </div>       <!-- w3-card -->
      {{- end }} {{/* range */}}
    </div> <!-- testimonials-owl -->

    <noscript>
      <div class="w3-cell-row">
      {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- range first 3 .Site.Data.testimonials -->` | safeHTML }}
      {{- end}}
        {{- range $index, $element := first 3 (sort .Site.Data.testimonials `weight`) }}
          <div class="w3-cell w3-cell-bottom w3-mobile">
            <div class='w3-card w3-margin {{ default `w3-theme-l5` ($.Site.Param `colorFrontTestimonialsCarouselCard`)}} '>
                {{ template `front-testimonials-entry` (dict `page` $.Page `element` $element) }}
            </div>
          </div>
        {{- end }} {{/* range */}}
      </div> <!-- w3-cell-row -->
    </noscript>

  </div>   <!-- w3-container -->
</section>
{{- end }} {{/* if gt       */}}
{{- end }} {{/* if *.enable */}}
{{- end }} {{/* if isset    */}}

{{- define `front-testimonials-entry` }}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- front-testimonials-entry -->` | safeHTML }}
  {{- end}}

{{- $ourPage      :=  index . `page`    }}
{{- $ourElement   :=  index . `element` }}

<div class="w3-container w3-opacity">
    <p>{{- $ourElement.text | markdownify }}<p>
  </div>
  {{- if $ourElement.name }}
  <div class="w3-container">
    <div class="w3-cell"><i class="fas fa-quote-left w3-xxxlarge w3-text-theme"></i></div>
      <div class="w3-cell">

    {{- $myImgClass  := `w3-circle w3-right`}}
    {{- $myImgStyle  := `width:20%`}}

    {{- $myImg       := $ourElement.resImg                       }} {{/* case sensitive ! */}}
    {{- $myImgCmd    := $ourElement.resImgCmd | default `Fill` }}
    {{- $myImgOpt    := $ourElement.resImgOpt | default `150x150 Top`   }}
    {{ partial `resource.image.html` (dict `page` $ourPage `class` $myImgClass `style` $myImgStyle `img` $myImg `cmd` $myImgCmd `opt` $myImgOpt ) }}

      <div class="w3-right">
        <div class="w3-large"> {{ $ourElement.name     | markdownify | safeHTML }}</div>
        <div class="w3-small"> {{ $ourElement.position | markdownify | safeHTML }}</div>
      </div> <!-- w3-right -->
    </div>   <!-- w3-cell -->
  </div>     <!-- w3-container -->
  {{- end }}
{{- end }}
