{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/head.cookieconsent.html -->` | safeHTML }}
{{- end}}

{{- if isset $.Site.Params (lower `cookieconsent` ) }}
{{- if $.Site.Params.cookieconsent.enable  }}
  {{- /*
  https://cookieconsent.insites.com/download/
  */}}

{{- /* $assetBusting := not .Site.Params.disableCSSAssetsBusting }}{{ if $assetBusting }}?{{ now.Unix }}{{ end */}}

  <link rel="stylesheet" href="{{ `/vendor/insites/cookieconsent/cookieconsent.3.0.6.min.css` | relURL }}">
  <script src="{{                 `/vendor/insites/cookieconsent/cookieconsent.3.0.6.min.js`  | relURL }}"></script>

  <script>
    window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
           "popup": {
             "background": {{$.Site.Params.cookieconsent.popupBackground | default "#efefef" }},
             "text":       {{$.Site.Params.cookieconsent.popupText       | default "#404040" }},
           },
           "button": {
             "background": {{$.Site.Params.cookieconsent.buttonBackground | default "#8ec760" }},
             "text":       {{$.Site.Params.cookieconsent.buttonText       | default "#ffffff" }}
           }
         },
        "position": {{$.Site.Params.cookieconsent.position | default "bottom" }},
        {{- if ($.Site.Params.cookieconsent.theme)          }}"theme" : "{{$.Site.Params.cookieconsent.theme}}",{{end}}
        {{- if (isset $.Site.Params.cookieconsent `static`) }}"static": true,{{end}}
        "content": {
          "message": {{ i18n "cookieMessage" | default "This website uses cookies to ensure you get the best experience on our website." }},
          "dismiss": {{ i18n "cookieDismiss" | default "Got it!" }},
          "link"   : {{ i18n "cookieLearn"   | default "Learn more" }},
          "href"   : {{ $.Site.Params.cookieconsent.href | default "https://cookiesandyou.com" }}
        }
      }) /* initialise( */
    }) /* addEventListener( */
    ;
  </script>
{{- end }} {{/* enable */}}
{{- end }} {{/* isset */}}
