{{ `<!-- partials/head.fonts.googleapis.html -->` | safeHTML }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono" />
  {{- /*
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen|Oxygen+Mono" /> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" /> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Glegoo" /> -->
  */}}

  <style>
    html, body, h1, h2, h3, h4, h5, h6
    {
        font-family: 'Ubuntu Mono'     , monospace;
        font-family: 'Ubuntu'          , sans-serif;
        {{- /*
        font-family: 'Oxygen Mono'     , monospace; 
        font-family: 'Oxygen'          , sans-serif; 
        font-family: 'Roboto Mono'     , monospace; 
        font-family: 'Roboto'          , sans-serif; 
        font-family: 'Glegoo'          , serif;     
        */}}
    }
  </style>

{{- /* emacs                     */}}
{{- /* Local variables:          */}}
{{- /* tab-width:        2       */}}
{{- /* indent-tabs-mode: nil     */}}
{{- /* End:                      */}}
