{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/header.nav.medium.theme_color_selector.html -->` | safeHTML }}
{{- end}}

<select id="medium_theme_color_selector"
        title="This may help you to to define w3cssColorTheme in your config.toml. All color themes are taken from www.w3schools.com/w3css."
        class="w3-bar-item w3-right w3-padding-small w3-theme-d2 w3-small "
        style="margin-top: 4px;"
        translate="no"
        onchange="setStyleSheet('medium_theme_color_selector')">
  <option value="" disabled="" selected="">preview themes</option>
  <option value='w3-theme-amber.css'                                                > amber</option>
  <option value='w3-theme-black.css'                                                > black</option>
  <option value='w3-theme-blue-grey.css'                                            > blue grey</option>
  <option value='w3-theme-blue.css'                                                 > blue</option>
  <option value='w3-theme-brown.css'                                                > brown</option>
  <option value='w3-theme-cyan.css'                                                 > cyan</option>
  <option value='w3-theme-dark-grey.css'                                            > dark grey</option>
  <option value='w3-theme-deep-orange.css'                                          > deep orange</option>
  <option value='w3-theme-deep-purple.css'                                          > deep purple</option>
  <option value='w3-theme-green.css'                                                > green</option>
  <option value='w3-theme-grey.css'                                                 > grey</option>
  <option value='w3-theme-indigo.css'                                               > indigo</option>
  <option value='w3-theme-khaki.css'                                                > khaki</option>
  <option value='w3-theme-light-blue.css'                                           > light blue</option>
  <option value='w3-theme-light-green.css'                                          > light green</option>
  <option value='w3-theme-lime.css'                                                 > lime</option>
  <option value='w3-theme-orange.css'                                               > orange</option>
  <option value='w3-theme-pink.css'                                                 > pink</option>
  <option value='w3-theme-purple.css'                                               > purple</option>
  <option value='w3-theme-red.css'                                                  > red</option>
  <option value='w3-theme-teal.css'                                                 > teal</option>
  <option value='w3-theme-yellow.css'                                               > yellow</option>

  <option value="" disabled="" >preview color of year</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-airy-blue.css'       > airy blue</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-aurora-red.css'      > aurora red</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2008-blue-izis.css'       > blue izis</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-bodacious.css'       > bodacious</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-buttercup.css'       > buttercup</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2007-chili-pepper.css'    > chili pepper</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-duster-cedar.css'    > duster cedar</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2013-emerald.css'         > emerald</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-fiesta.css'          > fiesta</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-green-flash.css'     > green flash</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2011-honeysucle.css'      > honeysucle</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-iced-coffe.css'      > iced coffe</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-lilac-grey.css'      > lilac grey</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-limpet-shell.css'    > limpet shell</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-lush-medow.css'      > lush medow</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2015-marsala.css'         > marsala</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2009-mimosa.css'          > mimosa</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-peach-echo.css'      > peach echo</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-potters-clay.css'    > potters clay</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2014-radiand-orchid.css'  > radiand orchid</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-riverside.css'       > riverside</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-rose-quarts.css'     > rose quarts</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2006-sand-dollar.css'     > sand dollar</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-serenity.css'        > serenity</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-sharkskin.css'       > sharkskin</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-snorkel-blue.css'    > snorkel blue</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-spicy-mustard.css'   > spicy mustard</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2012-tangerine-tango.css' > tangerine tango</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2010-turquise.css'        > turquise</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-warm-taupe.css'      > warm taupe</option>

</select>

<noscript>
  <style>
    #medium_theme_color_selector {display:none;}
  </style>
</noscript>
