{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/header.nav.google.translate.html -->` | safeHTML }}
{{- end}}
{{/*
<span class="w3-bar-item w3-right" id="google_translate_element"></span>
*/}}

<div class="w3-bar-item w3-right" id="google_translate_element"></div>
<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {
          pageLanguage: '{{ .Site.LanguageCode }}'
        // , layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT
        , layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        , includedLanguages: 'de,en,fr'
        //, includedLanguages: 'en,fr,da,ms,zh-CN'
        , multilanguagePage: true
      }
      , 'google_translate_element'
    );
  }
</script>
<script type="text/javascript">
  window.addEventListener('load',
    function() {
      if ("dismiss" == getCookie("cookieconsent_status")) {
        let scriptTranslate = document.createElement("script");
        scriptTranslate.setAttribute("src", "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit");
        scriptTranslate.setAttribute("type", "text/javascript");
        scriptTranslate.setAttribute("async", "async");
        document.body.appendChild(scriptTranslate);
      } else {
      }
    }
);
</script>
