{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/header.nav.google.translate.html -->` | safeHTML }}
{{- end}}
<span class="w3-bar-item w3-right" id="google_translate_element"></span>
<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {
          pageLanguage: '{{ .Site.LanguageCode }}'
        , layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT
        , multilanguagePage: true
      }
      , 'google_translate_element'
    );
  }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
