{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/header.marquee.html -->` | safeHTML }}
{{- end}}
{{- if $.Site.Params.marquee.enable }}
<div id="marquee" class="w3-theme">
  <div class='w3-container w3-small {{ default `w3-theme-l1` ($.Site.Param `colorHeaderMarquee`)}} '>
    <div class="top-marquee">
      {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- $.Site.Params.marquee.marquee -->` | safeHTML }}
      {{- end}}
      <div><span>{{ $.Site.Params.marquee.marquee | markdownify }}</span></div>
    </div>
  </div>
</div>      <!--marquee -->
{{- end }} {{- /* if *.enable */}}
