{{ if .Site.Params.topbar.enable }}
<div id="top">
  <div class="header-top-01 w3-container">
    <div class="header-top-02 w3-cell-row">
      <div class="header-top-03 w3-cell w3-cell-middle">
        {{ .Site.Params.topbar.text | safeHTML }}
      </div>   <!-- header-top-03 -->
      
      <div class="header-top-04 w3-cell w3-cell-middle">
        <div class="header-top-05 w3-right">
          {{ range .Site.Menus.topbar.ByWeight }}
          <a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
          {{ end }}
        </div> <!-- header-top-05 --> 	
      </div>   <!-- header-top-04 --> 	
    </div>     <!-- header-top-02 --> 	
  </div>       <!-- header-top-01 --> 	
</div>         <!-- top --> 	
{{ end }} {{/* if *.enable */}} 
<!-- ------------------------------------------------------------------------------ -->
<!-- -- Local variables:      -->
<!-- -- tab-width:        2   -->
<!-- -- indent-tabs-mode: nil -->
<!-- -- End:                  -->
