{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/header.nav.large_theme_color_selector.html -->` | safeHTML }}
{{- end}}

<select id="large_theme_color_selector"
        title="This may help you to to define w3cssColorTheme in your config.toml. All color themes are taken from www.w3schools.com/w3css."
        class="w3-bar-item w3-right w3-padding-small w3-theme-d2 w3-small"
        style="margin-top: 6px;"
        translate="no"
        onchange="setStyleSheet('large_theme_color_selector')">
  <option value="" disabled="" selected="">preview w3.css color themes</option>
  <option value='w3-theme-amber.css'                                                > Amber       #ffc107 </option>
  <option value='w3-theme-black.css'                                                > Black       #000000 </option>
  <option value='w3-theme-blue-grey.css'                                            > Blue Grey   #607d8b </option>
  <option value='w3-theme-blue.css'                                                 > Blue        #2196f3 </option>
  <option value='w3-theme-brown.css'                                                > Brown       #795548 </option>
  <option value='w3-theme-cyan.css'                                                 > Cyan        #00bcd4 </option>
  <option value='w3-theme-dark-grey.css'                                            > Dark Grey   #616161 </option>
  <option value='w3-theme-deep-orange.css'                                          > Deep Orange #ff5722 </option>
  <option value='w3-theme-deep-purple.css'                                          > Deep Purple #673ab7 </option>
  <option value='w3-theme-green.css'                                                > Green       #4caf50 </option>
  <option value='w3-theme-grey.css'                                                 > Grey        #9e9e9e </option>
  <option value='w3-theme-indigo.css'                                               > Indigo      #3f51b5 </option>
  <option value='w3-theme-khaki.css'                                                > Khaki       #f0e68c </option>
  <option value='w3-theme-light-blue.css'                                           > Light Blue  #87ceeb </option>
  <option value='w3-theme-light-green.css'                                          > Light Green #8bc34a </option>
  <option value='w3-theme-lime.css'                                                 > Lime        #cddc39 </option>
  <option value='w3-theme-orange.css'                                               > Orange      #ff9800 </option>
  <option value='w3-theme-pink.css'                                                 > Pink        #e91e63 </option>
  <option value='w3-theme-purple.css'                                               > Purple      #9c27b0 </option>
  <option value='w3-theme-red.css'                                                  > Red         #f44336 </option>
  <option value='w3-theme-teal.css'                                                 > Teal        #009688 </option>
  <option value='w3-theme-yellow.css'                                               > Yellow      #ffeb3b </option>

  <option value="" disabled="" >preview color of the year</option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-airy-blue.css'       > Airy Blue       (2016 #92b6d5) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-aurora-red.css'      > Aurora Red      (2016 #b93a32) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2008-blue-izis.css'       > Blue Izis       (2008 #5b5ea6) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-bodacious.css'       > Bodacious       (2016 #b76ba3) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-buttercup.css'       > Buttercup       (2016 #fae03c) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2007-chili-pepper.css'    > Chili Pepper    (2007 #9b2335) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-duster-cedar.css'    > Dusty Cedar     (2016 #ad5d5d) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2013-emerald.css'         > Emerald         (2013 #009b77) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-fiesta.css'          > Fiesta          (2016 #dd4132) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-green-flash.css'     > Green Flash     (2016 #79c753) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2011-honeysucle.css'      > Honeysucle      (2011 #d65076) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-iced-coffe.css'      > Iced Coffe      (2016 #b18f6a) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-lilac-grey.css'      > Lilac Grey      (2016 #9896a4) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-limpet-shell.css'    > Limpet Shell    (2016 #98ddde) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-lush-medow.css'      > Lush Medow      (2016 #006e51) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2015-marsala.css'         > Marsala         (2015 #955251) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2009-mimosa.css'          > Mimosa          (2009 #efc050) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-peach-echo.css'      > Peach Echo      (2016 #f7786b) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-potters-clay.css'    > Potter's Clay   (2016 #9e4624) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2014-radiand-orchid.css'  > Radiand Orchid  (2014 #b565a7) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-riverside.css'       > Riverside       (2016 #4c6a92) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-rose-quarts.css'     > Rose Quarts     (2016 #f7cac9) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2006-sand-dollar.css'     > Sand Dollar     (2006 #dfcfbe) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-serenity.css'        > Serenity        (2016 #92a8d1) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-sharkskin.css'       > Sharkskin       (2016 #838487) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-snorkel-blue.css'    > Snorkel Blue    (2016 #034f84) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-spicy-mustard.css'   > Spicy Mustard   (2016 #d8ae47) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2012-tangerine-tango.css' > Tangerine Tango (2012 #dd4124) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2010-turquise.css'        > Turquise        (2010 #45b8ac) </option>
  <option value='color_of_the_year/w3-theme-color-of-year-2016-warm-taupe.css'      > Warm Taupe      (2016 #af9483) </option>
</select>

<noscript>
  <style>
    #large_theme_color_selector {display:none;}
  </style>
</noscript>
