{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/head.google.gtags.html -->` | safeHTML }}
{{- end}}
{{- if and $.Site.Params.enableGoogleGtag $.Site.Config.Services.GoogleAnalytics.ID }}
  {{- /* <!-- Global site tag (gtag.js) - Google Analytics --> */}}
  <script type="text/javascript">
    window.addEventListener('load',
      function() {
        if ("dismiss" == getCookie("cookieconsent_status")) {
          let scriptGtag = document.createElement("script");
          scriptGtag.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id={{$.Site.Config.Services.GoogleAnalytics.ID}}");
          scriptGtag.setAttribute("type", "text/javascript");
          // scriptGtag.setAttribute("async", "async");
          document.body.appendChild(scriptGtag);
        } else {
        }
      }
  );
  </script>

  <script>
    if ("dismiss" == getCookie("cookieconsent_status")) {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{$.Site.Config.Services.GoogleAnalytics.ID}}');
    } else {
    }
  </script>

{{- end -}}
