{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/main.teaserpic.card.html -->` | safeHTML }}
{{- end}}

{{- $myImgClass := "w3-image w3-left w3-round w3-hover-opacity " }}
{{- $myImgStyle := "max-width:150px; max-height:150px; width: auto; height: auto; margin: 0px 8px 16px 0px; " }}
{{- $myImg       := .Params.resImgTeaser                       }} {{/* case insensitive */}}
{{- $myImgCmd    := .Params.resImgTeaserCmd | default `Resize` }}
{{- $myImgOpt    := .Params.resImgTeaserOpt | default `150x`   }}
{{ partial `resource.image.html` (dict `page` . `class` $myImgClass `style` $myImgStyle `img` $myImg `cmd` $myImgCmd `opt` $myImgOpt ) }}
