{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/main.taxonomy.full.bar.html -->` | safeHTML }}
{{- end}}
{{- if or (isset .Params (lower `categories` )) (isset .Params (lower `tags` ))  }}
<div class='w3-card-4 w3-center w3-round-xxlarge w3-margin-top  w3-margin-bottom {{ default `w3-theme-l1` ($.Site.Param `colorTaxonomyBar`)}} '>
  <div class="w3-container w3-padding-small ">
{{- if isset .Site.Taxonomies (lower `categories` ) }}
{{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <a href='{{ `/categories` | relURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button"><i class="far fa-folder-open" aria-hidden="true"></i>&nbsp;{{ default `Categories` (i18n `categoriesTitle`) }}:</a>
  {{- range $name, $items := .Site.Taxonomies.categories }}
    {{- if gt (len $items) (default 0 $.Site.Params.taxonomies.fullBarMinItemsCategory ) }}
      {{ if $name }}<a href='{{ `/categories/` | relURL }}{{ $name | urlize }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button">{{ $name }} ({{ len $items }})</a>{{ end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}

<br>


{{- if isset .Site.Taxonomies (lower `tags` ) }}
{{- if not (eq (len .Site.Taxonomies.tags) 0) }}
   <a href='{{ `/tags` | relURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button"><i class="fas fa-tags" aria-hidden="true"></i>&nbsp;{{ default `Tags` (i18n `tagsTitle`) }}:</a>
  {{- range $name, $items := .Site.Taxonomies.tags }}
    {{- if gt (len $items) (default 0 $.Site.Params.taxonomies.fullBarMinItemsTag ) }}
      {{ if $name }}<a href='{{ `/tags/` | relURL }}{{ $name | urlize }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button">{{ $name }} ({{ len $items }})</a>{{ end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}

  </div> <!-- w3-container -->
</div> <!-- w3-round -->

{{- else }}
<div class="w3-container w3-padding-small "></div>
{{- end }}
