{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/main.taxonomy.current.html -->` | safeHTML }}
{{- end}}
<div class="w3-right-align ">
{{- if .Params.categories  }}
{{- if not (eq (len .Params.categories) 0) }}
{{- if ne (index .Params.categories 0) `` }}
    <a href='{{ `/categories` | relURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button"><i class="far fa-folder-open"></i></a>
  {{- range $name := .Params.categories }}
    {{ if $name }}<a href='{{ `/categories/` | relURL }}{{ $name | urlize }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button">{{ $name }}</a>{{ end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- if .Params.tags }}
{{- if not (eq (len .Params.tags) 0) }}
{{- if ne (index .Params.tags 0) `` }}
   <a href='{{ `/tags` | relURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button"><i class="fas fa-tags"></i></a>
  {{- range $name := .Params.tags }}
    {{ if $name }}<a href='{{ `/tags/` | relURL }}{{ $name | urlize }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button">{{ $name }}</a>{{ end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
</div>
