{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/main.teaserpic.card.html -->` | safeHTML }}
{{- end}}
{{- if isset .Params `teaserpic` }}
  <img alt="" class="w3-image w3-left w3-round w3-hover-opacity " style="max-width:150px; max-height:150px; width: auto; height: auto; margin: 0px 8px 16px 0px;"
       {{- if .Params.teaserpic }}
       src='{{ .Params.teaserpic | relURL }}'
       {{- else -}}
       src='{{ `/images/teaserpics/placeholder.png` | relURL }}'
       {{- end -}}
  />
{{- end -}}
