{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/main.teaser_in_card.html -->` | safeHTML }}
{{- end}}
<a class="no-decoration" href='{{ .RelPermalink }}'>

  {{/* {{ partial `main.teaserpic.card.html` . }} */}}

  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- back in partials/main.teaser_in_card.html -->` | safeHTML }}
  {{- end}}

  <div class="w3-margin-left w3-margin-right">

    <h3>
    {{- if .Params.icon }}
      <i class='{{ .Params.icon }}'></i>
    {{- end }}
    {{ .Title  | markdownify | emojify }}
    </h3>

    {{ partial `main.teaserpic.card.html` . }}

    {{- if eq .Type `blog` }}
    <div class="w3-right"><i class="far fa-calendar" aria-hidden="true"></i>&nbsp;<i>{{- partial `main.i18n.date.short.html` . -}}</i></div>
    {{- end }}
    {{- /* or .Description .Summary | markdownify | truncate ( or $.Site.Params.teaserTruncateSummary 160)  | replaceRE `<.?p>` `` | safeHTML */}}
    {{- $myTruncateLength :=  or (.Param "teaserTruncateSummary") 160 }}
    {{- or .Description .Summary | markdownify | replaceRE `<.?p>` `` | safeHTML | truncate $myTruncateLength }}
{{- /*
<br>
len .Description : {{ len .Description}}   <br>
len .Summary     : {{ len .Summary}}       <br>
$myTruncateLength: {{ $myTruncateLength }} <br>
*/}}

  </div>
</a>

<div class="w3-container w3-center">
    {{- if isset .Params (lower `categories` ) }}
      {{- if gt (len .Params.categories) 0 }}
        {{- if .Params.categories }}
        <a href='{{ `categories` | relURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button"><i class="far fa-folder-open" aria-hidden="true"></i></a>
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
          {{ `<!-- range .Params.categories -->` | safeHTML }}
        {{- end}}
        {{ range .Params.categories }}
          {{- if . }}<a class="taxonomy-button w3-button " href='{{ `categories/` | relURL }}{{ . | urlize }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'>{{ . }}</a>{{end}}
        {{- end }}<br>
        {{- end }}
      {{- end }}
    {{- end }}
  </div>

  <div class="w3-container w3-center ">
  {{- if isset .Params (lower `tags` ) }}
    {{- if .Params.tags }}
      {{- if gt (len .Params.tags) 0 }}
      <a href='{{ `tags` | relURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button"><i class="fas fa-tags" aria-hidden="true"></i></a>
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
          {{ `<!-- range .Params.tags -->` | safeHTML }}
        {{- end}}
        {{ range .Params.tags }}
          {{- if . }}<a class="taxonomy-button w3-button " href='{{ `tags/` | relURL }}{{ . | urlize }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'>{{ . }}</a>{{end}}
        {{- end }}<br>
      {{- end }}
    {{- end }}
  {{- end }}
  </div>
