{{- if isset .Params "teaserpic" }}
  <img alt="" class="w3-image w3-right w3-round " style="max-width:400px; max-height:200px; width: auto; height: auto; margin: 0px 8px 8px 0px;"
       {{- if .Params.teaserpic }}
       src="{{ .Site.BaseURL}}{{ .Params.teaserpic }}"
       {{- else }}
       src="{{ .Site.BaseURL}}images/teaserpics/placeholder.png"
       {{- end }}
  />
{{- end }}

{{- /* emacs                 */}}
{{- /* Local variables:      */}}
{{- /* tab-width:        2   */}}
{{- /* indent-tabs-mode: nil */}}
{{- /* End:                  */}}
