{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/resource.image.html  -->` | safeHTML }}
{{- end}}

{{- $ourPage      :=  index . `page`    }}
{{- $ourImgClass  := (index . `class`) | default ""       }}
{{- $ourImgStyle  := (index . `style`) | default ""       }}
{{- $ourResImg    := (index . `img`)   | default ``       }}
{{- $ourResImgCmd := (index . `cmd`)   | default `Resize` }}
{{- $ourResImgOpt := (index . `opt`)   | default `300x`   }}

{{- $ourPage.Scratch.Set `myResImg` ``}}
{{- $ourPage.Scratch.Set `myImage`  ``}}

{{- $ourResources := $ourPage.Site.GetPage "page" "resources/images" }}
{{- if $ourResources }}
  {{- if len ($ourResources.Resources.ByType `image`) }}
    {{- if ($ourResImg)  }}
      {{ $ourPage.Scratch.Set `myResImg` ( ($ourResources.Resources.ByType `image`).GetMatch ($ourResImg) ) }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if $ourPage.Resources.ByType `image` }}
  {{- if ($ourResImg)  }}
    {{ $ourPage.Scratch.Set `myResImg` ( ( ($ourPage.Resources.ByType `image`).GetMatch ($ourResImg))  | default ($ourPage.Scratch.Get `myResImg`) ) }}
  {{- end }}
{{- end }}

{{- if ne ($ourPage.Scratch.Get `myResImg`) `` }}
  {{- $myResource := $ourPage.Scratch.Get `myResImg` }}
  {{- if      eq $ourResImgCmd `Fill`   }}{{$ourPage.Scratch.Set `myImage` ($myResource.Fill   $ourResImgOpt)}}
  {{- else if eq $ourResImgCmd `Fit`    }}{{$ourPage.Scratch.Set `myImage` ($myResource.Fit    $ourResImgOpt)}}
  {{- else if eq $ourResImgCmd `Resize` }}{{$ourPage.Scratch.Set `myImage` ($myResource.Resize $ourResImgOpt)}}
  {{- else }}
    {{- errorf "Invalid image processing command: '%s' for '%s'. Must be one of Fill, Fit or Resize."  $myResource $ourResImgCmd}}
  {{- end }}
{{- end }}
{{- $myImage := $ourPage.Scratch.Get `myImage` }}

{{- if $myImage }}
<img
  class="{{ $ourImgClass }}"
  style="{{ $ourImgStyle  | safeCSS }}"
  src='{{ $myImage.RelPermalink | absURL }}'
  alt='{{ $myImage.Name }}'
  >
{{- end }}
