{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }} 
  {{ `<!-- partials/scripts.html -->` | safeHTML }} 
{{- end}}
{{- if .IsHome }}
  <script src="{{ "vendor/jquery/jquery-3.2.1.slim.min.js"  | relURL }}"></script> <!-- used by owl.carousel  -->
  <script src="{{ "vendor/OwlCarousel2/owl.carousel.min.js" | relURL }}"></script>
  <script src="{{ "js/front.min.js"                         | relURL }}"></script> <!-- patches owl.carousel  -->
{{- end }}

{{- /* emacs                     */}}
{{- /* Local variables:          */}}
{{- /* tab-width:        2       */}}
{{- /* indent-tabs-mode: nil     */}}
{{- /* End:                      */}}
