{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
{{ `<!-- partials/scripts.bottom.html -->` | safeHTML }}
{{- end}}

{{- $assetBusting := not .Site.Params.disableJSAssetsBusting }}

<script src='{{ `vendor/jquery/3.7.1/jquery-3.7.1.slim.min.js` | relURL }}'></script> <!-- used by owl.carousel, setStyleSheet  -->
{{- if $.Site.Params.menutopbar.themeColorSelectorEnable }}
  <script>
    function setStyleSheet(id){
      var cssName    = document.getElementById(id).value;
      var stylesheet = document.getElementById("theme-colors");
      var cssPrefix  = '{{ `vendor/w3css/4/` | absURL }}'; {{/* do NOT start with a / */}}
      var href       = cssPrefix.concat(cssName);
      stylesheet.setAttribute('href', href);
      localStorage.setItem('theme-colors-css-name', cssName)
      localStorage.setItem('theme-colors-css-href', href)
    }

  </script>
{{- end }}

{{- if .IsHome }}
<script src='{{ `vendor/OwlCarousel2/owl.carousel.min.js` | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
<script src='{{ `js/front.min.js`                         | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script> <!-- patches owl.carousel  -->
{{- end }}

{{- if isset $.Site.Params (lower `options` ) }}
  {{- if $.Site.Params.options.jsHistoryNav }}
  {{- end}}
{{- end}}

<script src='{{ `js/custom.bottom.js`                     | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
{{- range .Site.Params.custom_js_bottom }}
<script src='{{ .                                          | absURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
{{- end }}
