{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
{{ `<!-- partials/scripts.top.html -->` | safeHTML }}
{{- end}}
{{- if .IsHome }}
{{- end }}
{{- $assetBusting := not .Site.Params.disableJSAssetsBusting }}
<script src='{{ `js/custom.top.js`                         | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
{{- range .Site.Params.custom_js_top }}
<script src='{{ .                                          | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
{{- end }}
