{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/search.gcse.html  -->` | safeHTML }}
{{- end}}

<div class='w3-container w3-margin-bottom {{ default `w3-theme-l3` ($.Site.Param `colorSearchGoogleGcseContainer`)}} '>

  <div class="w3-card-4 w3-margin-top ">
      <div class="w3-margin-top">
        <script>
          (function() {
              var cx = '{{.Site.Params.googleCustomSearchCX}}'
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <!-- <gcse:search></gcse:search> -->
        <gcse:searchbox resultsUrl='{{.Site.BaseURL}}' webSearchSafesearch="active" ></gcse:searchbox>
      </div>
  </div>

  <div class="w3-card-4 w3-margin-top ">
      <div class="w3-margin-top w3-margin-bottom" >
        <gcse:searchresults></gcse:searchresults>
      </div>
  </div>

  <noscript>
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- i18n "JsNeeded"  -->` | safeHTML }}
    {{- end}}
    <p>{{ default `no JavaScript` (i18n `JsNeeded`) }} (google custom search)</p>
    <a href='https://cse.google.com:443/cse/publicurl?cx={{.Site.Params.googleCustomSearchCX}}' target="_blank">https://cse.google.com:443/cse/publicurl?cx={{.Site.Params.googleCustomSearchCX}}</a>
  </noscript>

</div>
