<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    <div id="all" class="w3-theme">
      <header>
        {{ partial "header.nav.html" . }}
      </header>
      
      <div class="w3-container w3-theme-l3">
        <div class="bloglist10 w3-card-4 w3-center w3-round-xxlarge w3-margin-bottom w3-theme-d1">
          <h2>We are sorry - this page is not here </h2>
          Error 404 - Page not found
	      </div>
	    </div>
      <div class="w3-container w3-center w3-theme-l3">
        <a href="index.html" class="w3-button"><i class="fa fa-home"></i> Go to Homepage</a>
	    </div>
      
      {{ partial "footer.html" . }}
    </div> <!-- all -->
    {{ partial "scripts.html"  . }}
  </body>
</html>

<!-- emacs -->
<!-- Local variables:      -->
<!-- tab-width:        2   -->
<!-- indent-tabs-mode: nil -->
<!-- End:                  -->
