{{ define "title" }}
{{ end }}

{{ define "headline" }}
{{- `<!-- 404.html  -->` | safeHTML }}
{{ end }}

{{ define "main" }}
  <h3 class="w3-center" >We are sorry - this page is not here </h3>
  <div class="w3-container w3-center {{ default `w3-theme-l3` ($.Site.Param `color404Container`)}} ">
    <a href="{{ relURL "/" }}" class="w3-button"><i class="fa fa-home"></i> Go to Homepage</a>
  </div>
{{ end }}


{{ define "footer" }}
{{ end }}

{{/* emacs                 */}}
{{/* Local variables:      */}}
{{/* tab-width:        2   */}}
{{/* indent-tabs-mode: nil */}}
{{/* End:                  */}}
