{{ define "title" }}
  {{ .Site.Title }} - {{ i18n  "pages" }}
{{ end }}

{{ define "headline" }}
{{ end }}

{{ define "main" }}

category.terms.html
2
  {{ $data := .Data }}
  {{ range $key, $value := .Data.Terms.Alphabetical }}
    {{ $value.Term }}
  <li><a href="{{ $.Site.LanguagePrefix }}/{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name }} </a> {{ $value.Count }} </li>
  {{ end }}


{{ end }}

{{ define "footer" }}
{{ end }}

{{/* emacs                 */}}
{{/* Local variables:      */}}
{{/* tab-width:        2   */}}
{{/* indent-tabs-mode: nil */}}
{{/* End:                  */}}
