{{- printf `<%s class='` ($.Get 0 ) | safeHTML }}
{{- range (seq 1 (sub (len .Params) 1) ) }}
{{-      if eq ($.Get .) `colorPrimary`  }}{{ printf `%s ` (default `w3-purple`      ($.Site.Param `colorAlertPrimary`  ) | replaceRE `w3-` `w3-text-` ) | safeHTML }}
{{- else if eq ($.Get .) `colorSecondary`}}{{ printf `%s ` (default `w3-aqua`        ($.Site.Param `colorAlertSecondary`) | replaceRE `w3-` `w3-text-` ) | safeHTML }}
{{- else if eq ($.Get .) `colorSuccess`  }}{{ printf `%s ` (default `w3-light-green` ($.Site.Param `colorAlertSuccess`  ) | replaceRE `w3-` `w3-text-` ) | safeHTML }}
{{- else if eq ($.Get .) `colorInfo`     }}{{ printf `%s ` (default `w3-light-blue`  ($.Site.Param `colorAlertInfo`     ) | replaceRE `w3-` `w3-text-` ) | safeHTML }}
{{- else if eq ($.Get .) `colorWarning`  }}{{ printf `%s ` (default `w3-yellow`      ($.Site.Param `colorAlertWarning`  ) | replaceRE `w3-` `w3-text-` ) | safeHTML }}
{{- else if eq ($.Get .) `colorDanger`   }}{{ printf `%s ` (default `w3-red`         ($.Site.Param `colorAlertDanger`   ) | replaceRE `w3-` `w3-text-` ) | safeHTML }}
{{- else if eq ($.Get .) `colorDark`     }}{{ printf `%s ` (default `w3-dark-grey`   ($.Site.Param `colorAlertDark`     ) | replaceRE `w3-` `w3-text-` ) | safeHTML }}
{{- else if eq ($.Get .) `colorLight`    }}{{ printf `%s ` (default `w3-grey`        ($.Site.Param `colorAlertLight`    ) | replaceRE `w3-` `w3-text-` ) | safeHTML }}
{{- else }}
{{- printf `%s ` ($.Get . ) | safeHTML }}
{{- end }}
{{- end }}
{{- printf `'>` | safeHTML }}
{{- $.Inner }}
{{- printf `</%s>` ($.Get 0 ) | safeHTML }}
