{{ if .IsNamedParams }}
  {{ $.Scratch.Set "myIcon" (.Get "name"  | default "fas fa-question")}}
  {{ $.Scratch.Set "mySize" (.Get "size"  | default "fa-1x"          )}}
{{else}}
  {{  $.Scratch.Set "myIcon" (.Get 0       | default "fas fa-question")}}
  {{/* throws error: "No shortcode param at .Get 1"                    */}}
  {{/* {{ $.Scratch.Set "mySize" (.Get 1) }}                           */}}   
  {{/* {{ if in ($.Scratch.Get "mySize") "error: index out of range"}} */}}   
  {{/*   {{ $.Scratch.Set "mySize" "fa-1x" }}                          */}}   
  {{/* {{ end }}                                                       */}}   
{{end}}
<span class="{{ $.Scratch.Get "myIcon"}} {{$.Scratch.Get "mySize"}}" aria-hidden="true"></span>
