{{- $.Scratch.Set `theMatch`      ``        }}
{{- $.Scratch.Set `theFunction`   `Fill`  }}
{{- $.Scratch.Set `theOptions`    `300x400`    }}
{{- if .IsNamedParams }}
  {{- $.Scratch.Set `theMatch`       (.Get `match`  | default ($.Scratch.Get `theMatch`     ) )}}
  {{- $.Scratch.Set `theFunction`    (.Get `fct`    | default ($.Scratch.Get `theFunction`  ) )}}
  {{- $.Scratch.Set `theOptions`     (.Get `op`     | default ($.Scratch.Get `theOptions`   ) )}}
{{- else }}
  {{- $myPos := 0}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set `theMatch`    (.Get $myPos) }} {{end}}
  {{- $myPos := 1}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set `theFunction` (.Get $myPos) }} {{end}}
  {{- $myPos := 2}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set `theOptions`  (.Get $myPos) }} {{end}}
{{- end }}

{{- if or $.Site.Params.debug (findRE `\bdebug-shortcode(s|-liti)\b` $.Site.Params.traceFlags) }}
<br/>
"theMatch"    : {{- $.Scratch.Get `theMatch`    }} <br/>
"theFunction" : {{- $.Scratch.Get `theFunction`  }} <br/>
"theOptions"  : {{- $.Scratch.Get `theOptions` }} <br/>
{{- end }}



{{ $original := .Page.Resources.GetMatch (printf "%s*" ($.Scratch.Get `theMatch`)) }}
{{ $command := ( $original.Params.imgfct | default ($.Scratch.Get `theFunction`)) }}
{{ $options := ( $original.Params.imgopt | default ($.Scratch.Get `theOptions` )) }}

{{$command}} <br/>
{{$options}} <br/>

{{ $original.Name             }} <br/>
{{ $original.Title            }} <br/>
{{ $original.Params.origin    }} <br/>
{{ $original.Params.license		}} <br/>
{{ $original.Params.attrby    }} <br/>
{{ $original.Params.attrhref  }} <br/>
{{ $original.Params.imgfct		 }} <br/>
{{ $original.Params.imgopt		 }} <br/>


{{ if eq $command "Fit"}}
{{ .Scratch.Set "image" ($original.Fit $options) }}
{{ else if eq $command "Resize"}}
{{ .Scratch.Set "image" ($original.Resize $options) }}
{{ else if eq $command "Fill"}}
{{ .Scratch.Set "image" ($original.Fill $options) }}
{{ else }}
{{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}
{{ $image := .Scratch.Get "image" }}

<figure style="width: {{ add $image.Width 3 }}px; padding: 3px; background-color: #cccc">
	<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
	<figcaption>
	<small>
	{{ with .Inner }}
	{{ . }}
	{{ else }}
	.{{ $command }} "{{ $options }}"
	{{ end }}
	</small>
	</figcaption>
</figure>
