{{- $.Scratch.Set `theType`    `info` }}
{{- $.Scratch.Set `theHeading` ``     }}
{{- if .IsNamedParams }}
  {{- $.Scratch.Set `theType`    (.Get `type`     | default ($.Scratch.Get `theType`    ) )}}
  {{- $.Scratch.Set `theHeading` (.Get `heading`  | default ($.Scratch.Get `theHeading` ) )}}
{{- else}}
  {{- $myPos := 0}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set `theType`    (.Get $myPos) }} {{end}}
  {{- $myPos := 1}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set `theHeading` (.Get $myPos) }} {{end}}
{{- end}}
{{- if eq ($.Scratch.Get `theType`) `success` }}{{$.Scratch.Set `theIcon` `fas fa-check`                   }}{{end}}
{{- if eq ($.Scratch.Get `theType`) `info`    }}{{$.Scratch.Set `theIcon` `fas fa-info`                    }}{{end}}
{{- if eq ($.Scratch.Get `theType`) `warning` }}{{$.Scratch.Set `theIcon` `fas fa-exclamation-triangle`    }}{{end}}
{{- if eq ($.Scratch.Get `theType`) `danger`  }}{{$.Scratch.Set `theIcon` `fas fa-bomb`                    }}{{end}}
<div class='w3-panel w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-round-xxlarge shortcode-{{ $.Scratch.Get `theType` }}'>
{{- if eq ($.Scratch.Get `theHeading`) `` }}
      <span class="w3-margin-top w3-margin-bottom w3-margin-right w3-badge w3-large"><i class='{{$.Scratch.Get `theIcon`}} fa-2x '></i></span>
{{- else }}
  <h3><span class="w3-margin-right w3-badge w3-large"><i class='{{$.Scratch.Get `theIcon`}} '></i></span>{{ $.Scratch.Get `theHeading` }}</h3>
{{- end }}
{{- .Inner }}</div>
