{{- if .IsNamedParams }}
  {{- $.Scratch.Set "myType"    (.Get "type"     | default "info")}}
  {{- $.Scratch.Set "myHeading" (.Get "heading"  | default ""    )}}
{{- else}}
  {{  $.Scratch.Set "myType"    (.Get 0       | default "info")  }}
  {{/* throws error: "No shortcode param at .Get 1"            */}}
  {{/*  $.Scratch.Set "myHeading" (.Get 1       | default ""  )*/}}
  {{- $.Scratch.Set "myHeading" "" }}
{{- end}}
{{- if eq ($.Scratch.Get "myType") "success" }}{{$.Scratch.Set "myIcon" "fas fa-check"                   }}{{end}}
{{- if eq ($.Scratch.Get "myType") "info"    }}{{$.Scratch.Set "myIcon" "fas fa-info"                    }}{{end}}
{{- if eq ($.Scratch.Get "myType") "warning" }}{{$.Scratch.Set "myIcon" "fas fas fa-exclamation-triangle"}}{{end}}
{{- if eq ($.Scratch.Get "myType") "danger"  }}{{$.Scratch.Set "myIcon" "fas fa-bomb"                    }}{{end}}
<div class="w3-panel w3-leftbar shortcode-{{ $.Scratch.Get "myType" }}">
{{- if eq ($.Scratch.Get "myHeading") "" }}
      <i class="w3-margin-right {{$.Scratch.Get "myIcon"}} fa-2x"></i>
{{- else }}
  <h3><i class="w3-margin-right {{$.Scratch.Get "myIcon"}} "></i>{{ $.Scratch.Get "myHeading" }}</h3>
{{- end }}
{{- .Inner }}</div>
